In [8]:
import pandas as pd

train_data = pd.read_csv("""E:/AI engineer/Guvi/Capstone Projects/Project4/Customer_Conversion_Analysis/data/train.csv""")

In [1]:
import sys
print(sys.executable)

e:\AI engineer\Guvi\Capstone Projects\Project4\Customer_Conversion_Analysis\venv\Scripts\python.exe

Description of Data

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132379 entries, 0 to 132378
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   year                  132379 non-null  int64
 1   month                 132379 non-null  int64
 2   day                   132379 non-null  int64
 3   order                 132379 non-null  int64
 4   country               132379 non-null  int64
 5   session_id            132379 non-null  int64
 6   page1_main_category   132379 non-null  int64
 7   page2_clothing_model  132379 non-null  object
 8   colour                132379 non-null  int64
 9   location              132379 non-null  int64
 10  model_photography     132379 non-null  int64
 11  price                 132379 non-null  int64
 12  price_2               132379 non-null  int64
 13  page                  132379 non-null  int64
dtypes: int64(13), object(1)
memory usage: 14.1+ MB

In [10]:
train_data.head()

,year,month,day,order,country,session_id,page1_main_category,page2_clothing_model,colour,location,model_photography,price,price_2,page
0,2008,6,22,21,29,15648,3,C20,13,1,2,48,1,2
1,2008,5,19,6,29,10018,2,B26,13,3,1,57,1,2
2,2008,7,15,2,29,19388,3,C13,9,5,1,48,1,1
3,2008,5,2,2,29,7181,2,B11,2,4,1,43,2,1
4,2008,6,9,16,29,13493,2,B31,9,5,1,57,1,2

Data Preprocessing

In [12]:
# Check for missing values
train_data.isnull().sum()

year                    0
month                   0
day                     0
order                   0
country                 0
session_id              0
page1_main_category     0
page2_clothing_model    0
colour                  0
location                0
model_photography       0
price                   0
price_2                 0
page                    0
dtype: int64